.landing_cover{
margin: 20px;
  height: 20vh;
  background: lightyellow;
  border: 1.5px dashed orange;
}
.listings{
  height: 40vh;
  width: 90vw;
  background: lightblue;
  margin: auto;
  border: 1.5px dashed grey;
  h3{
    display: flex;
    justify-content: center;
  }
}